<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<table class="content-table" border="2" th:width="200px">
    <thead>
    <tr>
        <th th:width="150px">Телефонный номер</th>
        <th th:width="50px">Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${telNum}"> </td>
        <td th:text="${status}"> </td>
    </tr>
    </tbody>
</table>

<form action="/" method="get">
    <p><input class="form_input" type="submit" value="Проверить другой номер"></p>
</form>


</body>
</html>